<div class="head">
  Audit DashBoard:
</div>
<form class="date-block" [formGroup]="filterForm">
	<div class="date-block__list">
    <mat-form-field>
      <input #fromdate matInput
        [matDatepicker]="fromDate"
        placeholder="From Date"
        formControlName="fromDate">
      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
    </mat-form-field>
  </div>
  	<div class="date-block__list">
    <mat-form-field>
      <input #todate matInput
        [matDatepicker]="toDate"
        placeholder="To Date"
        formControlName="toDate">
      <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
      <mat-datepicker #toDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
   <button mat-button color="primary" class="primary" (click)="applyCalenderFilter()">Search</button>
  </div>
  &nbsp;&nbsp;&nbsp;
   <div>
   <button mat-button color="primary" class="primary" (click)="reset()">Reset</button>
  </div>
  </form>
<div>
    <mat-form-field appearance="fill">
      <mat-label>Queue Name</mat-label>
      <mat-select (selectionChange)="applyFilterSearchData($event.value)"  name="Queue Name">
        <mat-option *ngFor="let obj of optionValues" [value]="obj">
          {{obj}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    &nbsp; &nbsp; &nbsp; &nbsp;

  <div class="example-container mat-elevation-z8" #TABLE>
  <mat-table #table [dataSource]="dataSource"   matSort>

  <!-- entID Column -->
  <ng-container matColumnDef="entID" >
    <mat-header-cell  *matHeaderCellDef mat-sort-header> AD-Ent ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.entID}} </mat-cell>
  </ng-container>

  <!-- queueName Column -->
  <ng-container matColumnDef="queueName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Queue Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.queueName}} </mat-cell>
  </ng-container>

  <!-- queueManager Column -->
  <ng-container matColumnDef="queueManager">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Queue Manager </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.queueManager}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="messageID">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Message ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.messageID}} </mat-cell>
  </ng-container>

   <!-- logTime Column -->
  <ng-container matColumnDef="logTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header> logTime </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.logTime | date: 'dd/MM/yyyy hh:mm:ss a'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
  <button mat-raised-button color="primary" class="primary" (click)="ExportTOExcel()">Export as Excel</button>
<div>
</div>

